* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #ffffff;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 2em;
}

.input2 {
  text-align: center;
  align-items: center;
}
.input2 input {
  border-radius: 0.8em;
  margin-top: 1em;
  height: 2em;
  width: 50%;
  border: 2px outset #48464b;
}

.input {
  text-align: center;
  align-items: center;
}
.input input {
  border-radius: 0.8em;
  margin-top: 1em;
  height: 2em;
  width: 50%;
  border: 2px outset #48464b;
}

.converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 3em;
}
.converter .card {
  margin-top: 0.5em;
  display: flex;
  margin-left: 0;
  background-color: #7e1717;
  width: 70%;
  height: 4em;
  text-align: left;
  align-items: center;
  padding: 0.5em;
  border-radius: 1em;
}
.converter .card-1 {
  background-color: #034f84;
}
.converter .card-3 {
  background-color: #c94c4c;
}
.converter .card-2 {
  background-color: #017a30;
}

.output {
  text-align: left;
  margin-left: -4em;
}

.select {
  margin-top: 1em;
  text-align: center;
}
.select #select, .select #select-len {
  outline: none;
  border: none;
  width: 30%;
  height: 2.5em;
  color: #fff;
  display: inline-block;
  background: #034f84;
}

.convert, .convert-len {
  display: inline-block;
  width: 5%;
  height: 2.4em;
  background-color: #25d825;
  color: #fff;
  font-weight: bolder;
  outline: none;
}

.btn-grad-2 {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
}

.btn-grad-1 {
  background-image: linear-gradient(to right, #D31027 0%, #EA384D 51%, #D31027 100%);
}

.btn-grad {
  transition: all ease 0.6s;
  text-align: center;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.length {
  width: 30%;
  margin: 3em 0 3em 0;
  padding: 1em;
}

.weight {
  width: 30%;
  padding: 1em;
}

.btns {
  transition: all ease 0.6s;
  margin-top: 3em;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btns h4 {
  color: #aeb3b6;
  font-size: large;
  word-spacing: 3px;
}

@media screen and (max-width: 454px) {
  .select #select, .select #select-len, .select-len #select, .select-len #select-len {
    width: 30%;
  }
  .select .convert, .select .convert-len, .select-len .convert, .select-len .convert-len {
    width: 2em;
  }

  .converter {
    margin-top: 2em;
  }

  .card {
    display: flex;
    flex-direction: column;
  }
  .card .output {
    text-align: left;
    margin: 0.2em 0 0 1em;
    white-space: initial;
  }
}
@media screen and (min-width: 584px) {
  .converter .card {
    width: 60%;
  }
}
@media screen and (min-width: 840px) {
  .select #select, .select #select-len, .select-len #select, .select-len #select-len {
    width: 18%;
  }

  .input input, .input2 input {
    width: 20%;
  }

  .converter .card {
    width: 40%;
  }
}
@media screen and (min-width: 1140px) {
  .converter .card {
    width: 30%;
  }
}
